body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
    background-image: linear-gradient(to right top, #0d0a05, #0d0906, #0d0807, #0b0708, #090708, #0a070a, #0b070c, #0a080e, #0d0812, #100814, #140816, #170818);
    background-image: linear-gradient(to right top, #301b00, #31180f, #2e1719, #27191e, #201a1f, #201921, #1f1924, #1d1927, #21172f, #271336, #2f0c3c, #39003f);
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    width: 100vw;
    border-bottom: solid 1px #222;
    color: #ddd;
    font-family: monospace;
    font-size: 22px;
    font-weight: 100;
    user-select: none;
}

header img {
    height: 50px;
}

header a {
    color: #ddd;
    text-decoration: none;
}

header span {
    padding: 30px 30px;
    display: block;
    border-left: solid 1px #222;
}

.container-carousel {
    position: absolute;
    left: 0;
    transition: all ease .5s;
}

/* toast */
.toast{
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 95px;
    right: 0;
    transform: translateX(100%);
    padding: 10px 20px;
    transition: all 0.5s;

}
.toast-success{
    
    background: rgba(128, 255, 128, 0.63);
    color: #fff;
    border: 1px solid green;

}
.toast.show-toast{
    transform: translateX(0%);
}

/* fin de toast */

footer {
    position: absolute;
    width: 100vw;
    padding: 10px;
    font-family: monospace;
    color: #777;
    text-align: center;
    bottom: 0;
}

.carousel {
    display: flex;
    padding: 0 180px;
    align-items: center;
    width: 100vw;
    height: 89vh;
    overflow: auto;
}

.character {
    display: flex;
    margin: 10px;
    min-width: calc(0.75 * 400px);
    max-width: calc(0.75 * 400px);
    height: calc(0.75 * 800px);
    position: relative;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: all ease .5s;    
    transform: skewX(-7deg);
    z-index: 1000;
}



.character.active {
    transform: scale(1.1) skewX(-7deg);
    margin: 0px 80px;
    z-index: 2000;
}

/* .character.back {
    opacity: .3;
    transition: all ease .5s;
} */


.character img {
    height: calc(0.75 * 800px);
    width: 100%;
    object-fit: cover;
    filter: sepia(.7);
    transition: all ease .5s;
    /* z-index: 1000; */
}

.character:hover img {
    filter: sepia(.5);
    transition: all ease .5s;
}

.character.active img {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    filter: sepia(0);
    transition: all ease .5s;
}

.character span {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    display: block;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    font-size: 36px;
    background-color: #fff;
    opacity: 1;
    transition: opacity ease .5s;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 20px;
}

.character.active span {
    opacity: 0;
    transition: all ease .2s;
}

.character button {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 15px 30px;
    font-family: monospace;
    font-size: 28px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    border: solid 3px #fff;
    border:none;
    cursor: pointer;
    display: none;
    /* z-index: 2000; */
}

.character.active button {
    /* opacity: 1; */
    /* transition: all ease .5s; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.character.active button:hover {
    background-color: #fff;
    color: #000;
}

.character .content {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all ease .5s;
    z-index: -1;
}

.character.active .content {
    overflow-y: auto;
}

.character.more .content {
    opacity: 1;
    left: 100%;
    width: 900px;
    max-width: 900px;
    transition: all ease .5s;
    padding: 40px 100px;
    z-index: 1;
}

.character .content form {
    opacity: 0;
    transition: all ease .3s;
}

.character.more .content form {
    opacity: 1;
    transition: all ease .4s;
    transition-delay: .1s;
}

.content {
    text-align: right;
    cursor: default;
}

.content h2 {
    font-size: 30px;
}
.content>p {
    display: none;
}

.content form {
    margin-top: 20px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    text-align: left;
    transform: skewX(7deg);
}

.content p {
    margin: 10px 0;
}

.content label {
    display: block;
    padding-bottom: 11px;
}

.content input,
.content textarea {
    padding: 10px;
    width: 100%;
    border: solid 1px rgb(0, 0, 0, .5);
}

.content input:focus,
.content textarea:focus {
    outline: none;
}

.observations,
.buttons,
.alias {
    grid-column-start: 1;
    grid-column-end: 3;
}

.buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    right: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    transform: none;
}

.buttons button:first-child {
    background-color: rgb(3, 80, 151);
    border: solid 1px rgb(3, 80, 151);
}

.buttons button:last-child {
    background-color: rgb(151, 3, 3);
    border: solid 1px rgb(151, 3, 3);
}

.windowCreate {
    display: flex;
    position: absolute;
    top: -1080px;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, .8); */
    align-items: center;
    justify-content: center;
    transition: all ease .5s;
    z-index: 99999;
}

.windowCreate.active {
    top: 0;
    transition: all ease .5s;
}

.formCreate {
    background-color: #fff;
    padding: 50px 100px;
    width: 1100px;
    text-align: right;
}

.formCreate h2 {
    font-size: 42px;
    padding-bottom: 30px;
}

.formCreate form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    text-align: left;
}

.formCreate p {
    margin: 10px 0;
}

.formCreate label {
    display: block;
    padding-bottom: 11px;
}

.formCreate input,
.formCreate textarea {
    padding: 10px;
    width: 100%;
    border: solid 1px rgb(0, 0, 0, .5);
}

.formCreate input:focus,
.formCreate textarea:focus {
    outline: none;
}

.formCreate button {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: all ease .5s;
}

.formCreate button:hover {
    background-color: #fff;
    color: #000;
    transition: all ease .5s;
}